[Desktop Entry]
Encoding=UTF-8
Name=Link to zadatak1.py Datoteka
Type=Link
URL=https://e-ucenje.unipu.hr/mod/resource/view.php?id=35107
Icon=text-html
